Вариант 2: напишите скрипт, который посчитает: 

Отклик (количество людей, совершивших покупку в исследуемый период)

Количество людей в группах (учитывайте, что некоторые коммуникации не были доставлены)

Валовые продажи по группам. 

Подключитесь к базе через Python, выгрузите данные при помощи написанного скрипта и посчитайте дополнительную выручку по каждой группе в интерактивном блокноте.

Позаимствуем некоторые кусочки из предыдущего варианта и будем опираться на созданные ранее представления.

Первым делом - отклик,  то есть количество людей в каждой группе, совершившие покупку. Создадим таблицу.

In [55]:
create table Conversions 
(ab_a numeric,
ab_a_ctr numeric,
ab_b numeric,
ab_b_ctr numeric,
sales numeric,
sales_ctr numeric,
offer numeric,
offer_ctr numeric)

insert into Conversions  (ab_a, ab_a_ctr, ab_b, ab_b_ctr, sales, sales_ctr, offer, offer_ctr)
values ((select count(distinct a_sales."Id_customer" ) from a_sales),

		(select count(distinct a_sales_ctr."Id_customer" ) from a_sales_ctr),
		
		(select count(distinct b_sales."Id_customer" ) from b_sales),
		
		(select count(distinct b_sales_ctr."Id_customer" ) from b_sales_ctr),

		(select count(distinct sales_response_result."Id_customer" ) from sales_response_result),

		(select count(distinct sales_response_ctr_result."Id_customer" ) from sales_response_ctr_result),
		
		(select count(distinct offer_sales."Id_customer" ) from offer_sales),
		
		(select count(distinct offer_sales_ctr."Id_customer" ) from offer_sales_ctr)
)

SyntaxError: invalid syntax (1316088373.py, line 1)

Теперь - количество людей в каждой группе (снова стянем их из представлений)

In [ ]:
create table people_in_groups 
(ab_a numeric,
ab_a_ctr numeric,
ab_b numeric,
ab_b_ctr numeric,
sales numeric,
sales_ctr numeric,
offer numeric,
offer_ctr numeric)

insert into people_in_groups  (ab_a, ab_a_ctr, ab_b, ab_b_ctr, sales, sales_ctr, offer, offer_ctr)
values ((select count(distinct AB_responses_A."Id_customer" ) from AB_responses_A),

		(select count(distinct AB_responses_A_ctr."Id_customer" ) from AB_responses_A_ctr),
		
		(select count(distinct AB_responses_B."Id_customer" ) from AB_responses_B),
		
		(select count(distinct AB_responses_B_ctr."Id_customer" ) from AB_responses_B_ctr),

		(select count(distinct sales_response."Id_customer" ) from sales_response),

		(select count(distinct sales_response_ctr."Id_customer" ) from sales_response_ctr),
		
		(select count(distinct offer."Id_customer" ) from offer),
		
		(select count(distinct offer_ctr."Id_customer" ) from offer_ctr)
)

Теперь - валовые продажи, то есть сумму всех продаж в сроки проведения кампаний

In [ ]:
create table sales_in_groups 
(ab_a numeric,
ab_a_ctr numeric,
ab_b numeric,
ab_b_ctr numeric,
sales numeric,
sales_ctr numeric,
offer numeric,
offer_ctr numeric)

insert into sales_in_groups  (ab_a, ab_a_ctr, ab_b, ab_b_ctr, sales, sales_ctr, offer, offer_ctr)
values ((SELECT SUM("price") FROM a_sales_prices),
		(SELECT SUM("price") FROM A_sales_prices_ctr),
		(SELECT SUM("price") FROM b_sales_prices),
		(SELECT SUM("price") FROM b_sales_prices_ctr),
		(SELECT SUM("price") FROM sales_prices),
		(SELECT SUM("price") FROM sales_prices_ctr),
		(SELECT SUM("price") FROM offer_sales_prices),
		(SELECT SUM("price") FROM offer_sales_prices_ctr)	
)

Теперь - подключение к базе, выгрузка таблиц и подсчет доп выручки

In [56]:
import pandas as pd
import psycopg2

In [57]:
dsn = "postgresql://postgres:12345@localhost:5432/base_for_practise"
conn = psycopg2.connect(dsn)

In [58]:
query = 'select * from project.conversions'
conversions = pd.read_sql(query, conn)
query = 'select * from project.people_in_groups'
people_in_groups = pd.read_sql(query, conn)
query = 'select * from project.sales_in_groups'
sales_in_groups = pd.read_sql(query, conn)

C:\Users\Марат\AppData\Local\Temp\ipykernel_13076\3296834808.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  conversions = pd.read_sql(query, conn)
C:\Users\Марат\AppData\Local\Temp\ipykernel_13076\3296834808.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  people_in_groups = pd.read_sql(query, conn)
C:\Users\Марат\AppData\Local\Temp\ipykernel_13076\3296834808.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales_in_groups = pd.read_sql(query, conn)

посчитаем дельту отклика

In [59]:
delta = conversions.div(people_in_groups)
delta2 = pd.DataFrame({
    'ab_a': delta.iloc[:, 0] - delta.iloc[:, 1],
    'ab_b': delta.iloc[:, 2] - delta.iloc[:, 3],
    'sales': delta.iloc[:, 4] - delta.iloc[:, 5],
    'offer': delta.iloc[:, 6] - delta.iloc[:, 7]
})

In [60]:
delta2

     ab_a      ab_b     sales     offer
0  0.0075 -0.000644  0.054495  0.268291

Из таблицы выше видно, что вариант Б тестируемого баннера показал отрицательную дельту, что значит, что пользователи из контрольной группы, которым показывали изначальный баннер охотнее совершали покупки. считать дополнительную прибыль не имеет смысла для баннера Б

In [61]:
delta2 = delta2.drop(columns='ab_b')
delta2

     ab_a     sales     offer
0  0.0075  0.054495  0.268291

Теперь к ARPPU, отредактируем таблицу с конверсиями, удалив лишние столбцы

In [62]:
conversions = conversions.drop(['ab_a_ctr','ab_b_ctr', 'sales_ctr',
                                'offer_ctr'], axis=1)
conversions

     ab_a    ab_b   sales  offer
0  1451.0  2083.0  4815.0  946.0

In [63]:
sales_in_groups = sales_in_groups.drop(['ab_a_ctr','ab_b_ctr', 'sales_ctr',
                                'offer_ctr'], axis=1)
sales_in_groups

       ab_a      ab_b      sales     offer
0  352950.0  501300.0  1104225.0  191030.0

и посчитаем ARPPU

In [69]:
arppu = sales_in_groups.div(conversions)
arppu = arppu.drop('ab_b', axis=1)

Умножим дельту отклика на количество людей в целевой группе и результат на ARPPU

In [65]:
people_in_groups = people_in_groups.drop(['ab_a_ctr','ab_b', 'ab_b_ctr', 'sales_ctr',
                                'offer_ctr'], axis=1)

In [66]:
people_in_groups

     ab_a   sales   offer
0  2005.0  7081.0  1683.0

In [70]:
add_revenue = delta2.multiply(people_in_groups).multiply(arppu)
add_revenue

          ab_a         sales         offer
0  3657.957074  88493.137814  91180.212813

Из полученых данных видно, что спецпредложение принесло большую доп. выручку, чем остальные маркетинговые кампании. В итоговой таблице отстутствует Б ветка баннера, так как дельта отклика была отрицательной, что свидетельствует о том, что доп выручки баннер не принес. В сравнении с другими кампаниями, А-версия баннера так же не возымела значимого эффекта, однако его конверсия и дельта отклика были положительными.